.navbar {
  background: #64a7f3;
  min-height: 30px;
  position: fixed;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 99;
  display:inline-block;
  /* margin-bottom:10px; */
  font-size:35px;
}

.navbar ul {
  text-align: center;
  margin: 0 auto;
}

.navbar li {
  /* display: inline-block; */
  padding: 0px 0px;
  /* width: 33.3%; */
  margin: 0 50px 0 50px;
  /* text-decoration: none; */
  color: white;
  text-align: center;
  display: inline;
}

body{
  padding-top:80px;
}

@media (max-width: 1295px) {
  .navbar {
    background: #64a7f3;
    position: fixed;
    width: 100%;
  }
  .navbar ul {
    text-align: center;
    margin: 0;
    padding:0;
  }
  
  .navbar li {
    /* display: inline-block; */
    padding: 0;
    margin: 0 20px 0 20px;
    /* width: 33.3%; */
    font-size:20px;
    /* text-decoration: none; */
    color: white;
    text-align: center;
  }

  body{
    position:relative;
    padding-top:10%;
  }
}

@media (max-width: 420px) {
  .navbar li:first-child {
    width: 25%;
    font-size:20px;
  }

  .navbar li:nth-child(2) {
    width: 35%;
    font-size:20px;
  }

  .navbar li:last-child {
    width: 40%;
    font-size:20px;
  }
  body{
    padding-top:0px;
  }
}
